@font-face {
  font-family: 'Amatic';
  src: local('Amatic'), url('../../assets/fonts/AmaticSC-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Scorched Earth';
  src: local('Scorched Earth'), url('../../assets/fonts/Scorchedearth-4Ljp.otf') format('opentype');
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Amatic', 'Scorched Earth'
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

body {
  font-family: Amatic, serif !important;
}