/* Coolors Exported Palette - https://coolors.co/b8a270-b3785f-7d475b-432c47-292336 */
//#DFE1C7,#D4B89E,#BD9384,#966A6D,#444756,#DFE1C7,#D4B89E,#BD9384
/* SCSS HEX */
$blackswan-fifth: #DFE1C7;
$blackswan-fourth: #D4B89E;
$blackswan-third: #BD9384;
$blackswan-second: #966A6D;
$blackswan-first: #444756;

/* SCSS HSL */
$light-french-beige: hsla(42, 34%, 58%, 1);
$brown-sugar: hsla(18, 36%, 54%, 1);
$twilight-lavender: hsla(338, 28%, 38%, 1);
$english-violet: hsla(291, 23%, 23%, 1);
$dark-purple: hsla(259, 21%, 17%, 1);

/* SCSS RGB */
$light-french-beige: rgba(184, 162, 112, 1);
$brown-sugar: rgba(179, 120, 95, 1);
$twilight-lavender: rgba(125, 71, 91, 1);
$english-violet: rgba(67, 44, 71, 1);
$dark-purple: rgba(41, 35, 54, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #b8a270ff, #b3785fff, #7d475bff, #432c47ff, #292336ff);
$gradient-right: linear-gradient(90deg, #b8a270ff, #b3785fff, #7d475bff, #432c47ff, #292336ff);
$gradient-bottom: linear-gradient(180deg, #b8a270ff, #b3785fff, #7d475bff, #432c47ff, #292336ff);
$gradient-left: linear-gradient(270deg, #b8a270ff, #b3785fff, #7d475bff, #432c47ff, #292336ff);
$gradient-top-right: linear-gradient(45deg, #b8a270ff, #b3785fff, #7d475bff, #432c47ff, #292336ff);
$gradient-bottom-right: linear-gradient(135deg, #b8a270ff, #b3785fff, #7d475bff, #432c47ff, #292336ff);
$gradient-top-left: linear-gradient(225deg, #b8a270ff, #b3785fff, #7d475bff, #432c47ff, #292336ff);
$gradient-bottom-left: linear-gradient(315deg, #b8a270ff, #b3785fff, #7d475bff, #432c47ff, #292336ff);
$gradient-radial: radial-gradient(#b8a270ff, #b3785fff, #7d475bff, #432c47ff, #292336ff);