@import "./palette.scss";
@import "./mix-ins";

.App {
  text-align: center;
  width:100%;
  height:100%;
  overflow: hidden;
  background-color: $blackswan-primary;
  z-index: 0;
}

.landing-logo-text {
  position: absolute;
  filter: blur(1px);
  color: rgba(184, 162, 112, 0.41);
  font-family: "Scorched Earth", serif;
  font-size: 65px;
  margin-top: 0;
  top: 150px;
  left: 100px;
  pointer-events: none;
}

.float {
  transition-duration: .3s;
  transition-property: transform;

  @include hideTapHighlightColor();
  @include hardwareAccel();
  @include improveAntiAlias();

  &:hover {
    transform: translateY(-5px);
  }
}

.float-right {
  transition-duration: .3s;
  transition-property: transform;

  @include hideTapHighlightColor();
  @include hardwareAccel();
  @include improveAntiAlias();

  &:hover {
    transform: translateX(5px);
  }
}

.map-icon {
  color: rgba(184, 162, 112, 0.4);
  position: absolute;
  bottom: 36.5%;
  left: 60%;
  width: 40px;
  height: 40px;
}

.mapPlacement {
  position: absolute;
  bottom: 55%;
  left: 45%;
}

.place-tl {
  position: absolute;
  margin-left: 15px;
  margin-top: 15px;
  margin-right:5px;
  left: 0;
}

.imageHide {
  opacity: 1;
  visibility: visible;
  background: $blackswan-primary;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index:99;
}

.imageShow{
  opacity: 0;
  visibility: hidden;
  background: $blackswan-primary;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index:99;
  transition: visibility 0s 2s, opacity 1s linear;
  pointer-events: none;
}

.button {
  font-family: Amatic, cursive;
  width: 140px;
  height:50px;
  font-size: 30px;
  padding: 0;
  cursor: pointer;
  background-color: $blackswan-primary;
  display: inline-block;
  text-decoration: none;
  color: $blackswan-secondary;
  background-clip: border-box;
  z-index: 3;
}

.backgroundHouse {
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

body {
  position: fixed;
  overflow: hidden;
  font-family: Amatic, cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.desk-bg {
  position: absolute;
  width: 1200px;
  height: 100vh;
  left: 120px;
  right: 0;
  z-index: -1;
  filter: drop-shadow(20px 30px 4px rgba(14, 7, 7, 0.20));
}

.floor-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  margin: -5px -10px -10px -5px;
  transform: scale(1.03) rotate(90deg);
  z-index: -2;
  width: 100vw;
  height: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

.gun {
  position: absolute;
  top: 0;
  left: 130px;
  z-index: 5;
  transform: scale(1.2);
  filter: drop-shadow(30px 10px 4px rgba(14, 7, 7, 0.67));
  pointer-events: none;
}

.paper {
  position: absolute;
  top: -150px;
  left: 800px;
  transform: scale(.60);
  z-index: 4;
  filter: drop-shadow(30px 10px 4px rgba(14, 7, 7, 0.67));
}

.mapTexture {
  position: absolute;
  top:0;
  bottom:0;
  left:calc(100vw/2 - 400px);
  right:0;
  width: 500px;
  height: 100vh;
  z-index: 5;
  opacity: 0.3;
  pointer-events: none;
  filter: drop-shadow(30px 10px 4px rgba(14, 7, 7, 0.67));
}



table.notepad-table {
  position: absolute;
  width: 260px;
  font-family: "Amatic", cursive;
  font-size: 24px;
  line-height: 20px;

  border-collapse:separate;
  border-spacing:0 15px;
  top: 100px;
  left: 940px;
  z-index: 5;
}

.notepad-table tr {
  opacity: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 1s;
}

@for $i from 0 through 10 {
  .notepad-table tr:nth-child(#{($i)}) {
    animation-delay: #{($i * 0.15)}s;
  }
}

.notepad-table tbody {
  width: 280px;
}

.notepad-table td {
  height: 10px;
  padding: 0;

}

.notepad-text {
  width: 280px;
  position: absolute;
  font-family: "Amatic", cursive;
  font-size: 24px;
  top: 98px;
  left: 930px;
  z-index: 5;
}

.animated {
  animation-duration: 2s;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.tv-element {
  @include hardwareAccel();
  position: absolute;
  width: 112.5px;
  height: 56.25px;
  filter: drop-shadow(1px 7px 4px rgba(14, 7, 7, 0.7));
}

.map-menu-container {
  position: absolute;
  width: 300px;
  height: 300px;
  bottom: 9%;
  left: 0;
  z-index: 3;
}

.gunRack {
  @include hardwareAccel();
  position: absolute;
  width: 112.5px;
  height: 56.25px;
  filter: drop-shadow(1px 7px 4px rgba(14, 7, 7, 0.7));
}

.shadow {
  position: absolute;
  width: 60%;
  height: 8%;
  bottom: -1%;
  left: -40%;
  z-index:1;
  filter: blur(1.4px);
  background-color: rgba(0, 0 ,0, 0.75);
}

.tvScreen {
  position:absolute;
  top: 0;
  left: 11%;
  width: 60%;
  height: 90%;
  z-index: 2;
}

.tvFrame {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.loadingPage {
  width: 100vw;
  height: 100vh;
  font-size: 48px;
}